body {
	margin: 0;
	padding: 0;
	background-color: black;
	background-image: none;
	background-size: cover;
	text-align: center;
	color: #fff;
	font-family: calibri, arial;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	text-shadow: 2px 2px 2px black, -1px -1px 2px black;
	z-index: 0;
	position: relative;
}

html {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.checkbox {
	width: 25px;
	height: 25px;
	flex-shrink: 0;
}
.checkbox_smaller {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
}

.color_select {
	padding: 0;
	border: none;
	width: 76px;
	height: 30px;
	border-radius: 3px;
}

input[type="checkbox"], input[type="radio"] {
	margin: 0;
	margin-right: 0.5em;
}

span {
	text-align: center;
	cursor: default;
}

a {
	color: #abf;
}

a:hover {
	color: #ccc;
}

.input_num {
	width: 5em;
	margin-left: 10px;
	background-color: rgba(255,255,255,0.16);
	border: 2px solid rgba(255,255,255,0.16);
	border-radius: 3px;
	padding: 5px;
	color: #ddd;
	text-shadow: 1px 1px 1px black;
	font-size: inherit;
	text-align: center;
}

.input_text {
	background-color: rgba(255,255,255,0.16);
	border: 2px solid rgba(255,255,255,0.16);
	border-radius: 3px;
	padding: 5px;
	color: #ddd;
	text-shadow: 1px 1px 1px black;
	font-size: inherit;
	width: 100%;
}

.renderLayer {
	display: block;
	position: absolute;
	top: 0;
	z-index: -2;
  	width: 100%;
  	height: 100%;
	-moz-user-select: none; /* Mozilla Firefox */
	-ms-user-select: none; /* Internet Explorer (не поддерживается) */
	-o-user-select: none; /* Opera Presto (не поддерживается) */
	-webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}


.menu {
	top: 0;
	max-height: 85%;
	max-width: calc(100% - 120px);
	overflow: auto;
	background-color: rgba(62,62,62,0.68);
	border: 1px solid rgba(192,192,192,0.1);
	border-radius: 15px;
	display: flex;
	z-index: 2;
	color: white;
	position: absolute;
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
}

.btn {
	height: 50px;
	width: 50px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 13px;
	background-color: rgba(0, 0, 0, 0);
	margin: 1px;
	padding: 5px;
	border: none;
}
.btn[selected]{
	background-color: #555D;
}
.btn[selected]:hover{
	background-color: #666D;
}
.btn img{
	max-width: 100%;
	max-height: 100%;
}
.btn:hover {
	background-color: rgba(192,192,192,0.1);
	cursor: pointer;
}
.btn:active {
	transition: 0s;
	background-color: rgba(192,192,192,0.4);
}

.time_speed {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 130px;
}

.transparent_h2 {
	color: #9B9A9B;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
	margin: 0;
	font-family: arial;
	cursor: default;
}

#object_count {
	display: inline-block;
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.menu_pos_size {
	max-width: 100%;
	display: none;
	overflow: auto;
	z-index: 2;
	word-wrap: normal;
}

.check_menu {
	margin-left: 20px;
}

.help_option_item {
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 10px;
	padding-left: 25px;
	text-align: left;

}

.list {
	padding-left: 2em;
	word-wrap: break-word;
	margin: .3em 1em 0.3em 0;
}

.list li {
	padding: 0.2em 0.5em;
	border-bottom: 1px dotted rgba(255,255,255,0.15);
}

.list li:last-child {
	border: none;
}

.option_item {
	margin: 0 .5em;
	padding: .3em 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	display: flex;
	align-items: center;
	font-size: 1.05em;
	text-shadow: none;
	position: relative;
}
.option_item:last-child {
	border: none;
	padding-bottom: .5em;
}
.option_item label {
	text-align: center;
}

.option_item_inside_option {
	display: inline-flex;
	align-items: center;
	border-left: 1px solid rgba(255,255,255,0.3);
	margin-left: 5px;
	padding-left: 10px;
	position: relative;
}
.option_item_inside_option:first-child {
	border-left: none;
	margin: 0;
	padding: 0;

}

.option_item_range {
	flex-direction: column;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
}
.option_item_range input[type="range"] {
	width: calc(100% - .7em);
	height: 1.5em;
}
.option_item_range label {
	align-self: flex-start;
}

.multi_option_item {
	margin: 0 .5em;
	padding: .3em 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	font-size: 1.05em;
	text-shadow: none;
	position: relative;	
}

.radio_button_form {
	padding: .5em 0;
}
.radio_button_option {
/*	border-bottom: 1px dashed rgba(255,255,255,0.16);*/
	display: flex;
	align-items: center;
	padding-bottom: .5em;
	position: relative;
}
.radio_button_option:last-child {
	border: none;
	padding-bottom: 0;
}
.radio_form {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 7px;
	align-items: center;
/*	background: linear-gradient(#FFF2,#FFF2) center/1px 80% no-repeat;*/
}
.radio_button_box {
	display: flex;
	align-items: center;
}

.input_click_handler {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

.title_option_item {
	margin: 0;
	min-height: 2em;
	background-color: #555D;
	padding: calc(0.2em - 1px) 2em;
	text-shadow: none;
	color: white;
	justify-content: center;
	position: relative;
	overflow: hidden;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
}
.title_option_item h2 {
	font-size: 1.2em;
	margin: 0;
	font-weight: normal;
}
.title_option_item:not([disabled])[closed="true"] {
	padding-bottom: 0.2em;
}
.title_option_item:not([disabled]):hover {
	cursor: pointer;
	background-color: #555555;
}
.title_option_item * {
	cursor: inherit;
}
.title_option_item[closed="true"], .title_option_item[disabled] {
	border: none;
}
.title_option_item[closed="true"] ~ * , .title_option_item[disabled] ~ * {
	display: none;
}
.title_option_item::before {
	content: "▲";
	position: absolute;
	left: 0.5em;
	transition: 300ms;
}
.title_option_item[closed="true"]::before {
	transform: rotate(180deg);
}
.title_option_item[disabled]::before {
	content: '';
}
.title_option_item input:hover {
	cursor: pointer;
}

.options_section {
	border-radius: 15px;
	overflow: hidden;
	margin: 5px 0;
	background-color: rgba(62,62,62,0.68);
}

.state {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: 0.5;
	width: 100px;
	height: 100px;
}

.state img{
	max-height: 100%;
	filter: drop-shadow(3px 3px 3px black);
}

.deleted {
	display: none;
	position: absolute;
	right: -300px;
	top: 200px;
}

.help_menu {
	overflow: auto;
}

#launchPowerLabel {
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	font-size: 20px;
	font-style: bold;
	opacity: .75;
}

.menu_pos {
	top: 54px;
	left: 0;
}

.menu_button {
	text-align: center;
	min-height: 10px;
	width: 100%;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	background-color: rgba(255,255,255,0.08);
	border-radius: 0.7em;
	padding: 0.5em 0;
	text-shadow: none;
	margin: 0 0.25em;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
}

.menu_button:hover {
	background-color: rgba(192,192,192,0.2);
	cursor: pointer;
}
.menu_button *:hover {
	cursor: pointer;
}

.menu_button:active {
	background-color: rgba(192,192,192,0.4);
}

.menu_button:first-child {
	margin-left: 0;
}
.menu_button:last-child {
	margin-right: 0;
}

.fps {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: none;
	font-family: arial;
	cursor: default;
}

.menu_container {
	display: block;
	max-height: calc(100% - 55px);
	position: absolute;
	text-align: left;
	z-index: 2;
	overflow-y: auto;
	border-top-left-radius: 15px;
}

.zero_opacity *:not(.nozeroopacity *, .nozeroopacity) {
	background: none;
	border-color: rgba(0,0,0,0);
	color: rgba(0,0,0,0);
	fill: rgba(0,0,0,0);
}
.zero_opacity input:not(.nozeroopacity *, .nozeroopacity) {
	opacity: 0;
}
.nozeroopacity {
	color: white;
	background-color: rgba(62,62,62,0.68);
	border: none;
	margin: 0;
	padding: .3em .5em;
}

.close_button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: none;
	width: 1em; height: 100%;
	right: 0; top: auto;
	font-size: 200%;
	position: absolute;
	z-index: 2;
	font-weight: lighter;
	border-top-left-radius: 0.1em;
	text-align: center;
	fill: white;
}
.close_button:hover {
	background-color: #FF5555;
	cursor: pointer;
	fill: black;
}
.close_button:active {
	background-color: #FFFFFF;
}

.inner_menu_pos {
	overflow: auto;
	position: relative;
	max-height: 79vh;
}
.time_panel {
	display: flex;
	flex-direction: inherit;
	background-color: rgba(255,255,255,0.07);
	border-radius: 10px;
	border: 3px solid #FFFFFF77;
	border-top: none;
	border-bottom: none;
}

.dimmer {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: #000000;
	z-index: -9;
	opacity: 0.5;
}

.bg_image {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 105%;
	min-height: 105%;
	z-index: -8;
	opacity: 0.8;
}

.rangeValue {
	width: 4em;
}

.additionalOption {
	display: none;
}

.text_input_label {
	text-align: left;
	display: block;
}

.loader {
	width: 1em;
	margin: 0 0.5em;
	height: 1em;
	border: 0.15em dashed white;
	border-radius: 50%;
	animation-name: loader_animation;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	transition: .2s;
}

.disabled {
	display: none;
}

#toggle_fullscreen {
	position: absolute;
	bottom: 1vmin;
	right: 1vmin;
	fill: white;
	width: 48px;
	height: 48px;
	opacity: 0.4;
	cursor: pointer;
}
#toggle_fullscreen svg {
	display: none;
}
#toggle_fullscreen[enabled="false"] svg:first-child {
	display: initial;
}
#toggle_fullscreen[enabled="true"] svg:last-child {
	display: initial;
}

select {
	font-size: 1.1em;
	padding: 0.2em;
	border-radius: 0.5em;
	text-align: center;
}

@keyframes loader_animation {
	from {
		transform: rotate(0);
	} to {
		transform: rotate(360deg);
	}
}

@keyframes appear {
	from{
		transform: scaleY(0);
	} to {
		transform: scaleY(1.0);
	}
}

@media screen and (orientation:portrait) and (max-width: 1000px) {
	.menu_container {
		max-height: 100%;
		width: calc(100% - 50px);
	}

	.menu_pos_size {
		width: 100%;
	}

	.menu {
		flex-direction: column;
	}

	.menu_pos {
		top: 0;
		left: 50px;
	}

	.option_item {
		font-size: 1.2em;
	}

	.title_option_item h2 {
		font-size: 1.05em;
	}

	.btn {
		height: 40px;
		width: 45px;
	}

	.time_panel {
		border: 3px solid #FFFFFF77;
		border-left: none;
		border-right: none;
	}

	.state {
		top: 10px;
		right: 10px;
		width: 70px;
		height: 70px;
	}

	.time_speed {
		top: 90px;
	}

	.options_section:first-child {
		margin-top: 0;
	}

	.checkbox {
		width: 30px;
		height: 30px;
	}
}

@media screen and (orientation:landscape) and (max-width: 819px) {
	.menu_container {
		max-height: calc(100% - 72px);
	}
	.menu_pos {
		top: 72px;
	}
}
