body{
	padding: 0;
	margin: 0;
	background-image: url('../img/Background.png');
	font-family: Calibri;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
header{
	height: 88px;
	color: white;
	font-family: 'Bebas Neue';
	text-transform: uppercase;
	position: relative;
}

footer {
	height: 53px;
	text-align: center;
	color: #fff;
	font-family: arial;
	position: relative;
}

h2{
	margin: 0 0 10px 0;
	color: #195390;
	font-size: 26px;
	font-family: Calibri;
	font-weight: 400;
}

h3{
	margin: 0 0 10px 0;
	color: #195390;
	font-size: 16px;
	font-family: Calibri;
	font-weight: 400;
}
*{
	box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }
#map {
	height: 280px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
}
.header_name {
	font-size: 57.29px;
	margin: 0;
	position: absolute;
	bottom: 0;
	margin-bottom: -10px;
	margin-left: -10px;
	color: #fff;
	font-weight: 600;
	font-family: 'Bebas Neue', Calibri;
}
.container {
	width: 1060px;
	margin: 0 auto;
}
.left-sidebar {
	width: 26.415%;
	width: 280px;
	height: 1036px;
	float: left;
	background-color: #fff;
}
.content {
	width: 49.1509%;
	width: 521px;
	float: left;
}
.right-sidebar {
	width: 24.433%;
	width: 259px;
	float: left;
}
.menu {
	height: 38px;
}
.head-menu {
	height: 48px;
	float: right;
	margin-top: 21px;
}
.checkout {
	height: 100%;
	width: 252px;
	float: right;
}
.inner-checkout {
	height: 100%;
	background-color: #FCFCFC;
	border-radius: 3px;
	box-shadow: 0 0 16px 16px #0002;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'arial';
	color: #000;
}
.checkout_btn {
	width: 87px;
	height: 24px;
	background: linear-gradient(to bottom, #4587CD, #144C88);
	font-family: 'arial';
	text-transform: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}
.checkout_btn:hover {
	background: #144C88;
}
.authorizing {
	height: 100%;
	width: 153px;
	margin-right: 23px;
	float: right;
	font-family: 'arial';
	text-transform: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.authorizing p {
	margin: 0;
}
.authorizing p:hover {
	cursor: pointer;
}
.menu_buttons {
	width: 412px;
	height: 100%;
	float: left;
}
.select_sity {
	height: 100%;
	float: left;
	margin-left: 44px;
	color: white;
	display: flex;
	align-items: center;
	font-family: arial;
	cursor: pointer;
}
.select_sity:hover{
	text-decoration: underline;
}
.m_button {
	height: 100%;
	width: 33.333%;
	background: linear-gradient(to bottom, #FEFEFE, #C3C3C3);
	float: left;
	position: relative;
	display: flex;
	font-family: 'calibri';
	font-size: 16px;
	font-weight: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.m_button:hover {
	text-decoration: underline;
}
.txd_but {
	position: relative;
}
.in-txd_but {
	width: 100%;
	background: url('../img/Layer 6.png');
	font-family: 'calibri';
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.info-box {
	width: 290px;
	height: unset;
	margin-left: -10px;
	background: linear-gradient(to right, #7EABDA, #3070B5);
	font-family: arial;
	color: white;
}
.inner {
	width: 100%;
	height: 100%;
	background: #777;
}
.cost {
	width: 100%;
	height: 94px;
	padding: 1px 0 0 1px;
}
.time_left {
	width: 100%;
	height: 75px;
	padding: 1px 0 0 1px;
}
.time_left_date {
	width: 100%;
	height: 29px;
	padding: 1px 0 0 0;
}
.save_cost {
	width: 100%;
	height: 75px;
	padding: 0 0 0 1px;
}
.buy_now {
	width: 100%;
	height: 88px;
	padding: 0;
	position: relative;
}
.recomend {
	width: 100%;
	height: 88px;
	padding: 0 0 1px 1px;
}
.inner-cost {
	background: radial-gradient(circle at 0 0, #5D96D4, #155395);
	display: flex;
	align-items: center;
}
.inner-time_left{
	background-color: #134C88;
}
.inner-time_left_date {
	background: radial-gradient(circle at -160px 0, #5D96D4, #155395);
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner-save_cost {
	background: rgb(24,88,155);
	background: linear-gradient(146deg, rgba(24,88,155,1) 0%, rgba(9,54,102,1) 100%);
	display: flex;
	justify-content: center; align-items: center;
	font-size: 61px;
}
.inner-recomend {
	background: rgb(24,88,155);
	background: linear-gradient(71deg, rgba(24,88,155,1) 0%, rgba(9,54,102,1) 100%);
}
.shortcut {
	background-image: url('../img/Layer 20.png');
	height: 100%;
	margin-left: -57px;
}
.buy_now_button {
	position: absolute;
	height: 100%;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner-buy_now_button {
	width: 207px;
	height: 100%;
	background-image: url('../img/Layer 6.png');
	background-size: cover;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: arial;
	font-size: 30px;
	cursor: pointer;
}
.grad_buy_but {
	border-radius: 3px;
	background: linear-gradient(to bottom, #4587CD, #144C88);
	height: 50px;
}
.grad_buy_but:hover {
	background: linear-gradient(to bottom, #63A5EB, #2F67A3);
}
.grad_buy_but:active {
	background: #2D5F96;
}
.cost_values {
	width: 100%;
	height: 52%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.cv {
	height: 100%;
	color: white;
}
.cv_txt {
	height: 20px;
}
.cv_val {
	height: 10px;
	font-size: 30px;
}
.cv_center {
	padding: 0 15px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.tl_txt {
	color: white;
	font-size: 17px;
	margin-left: 50px;
	padding-top: 10px;
}
.tl_tim {
	color: white;
	font-size: 30px;
	margin-left: 50px;
}
.rcmnd_txt {
	font-size: 17px;
	text-align: center;
	padding-top: 10px;
}
.soc_net {
	width: 132px;
	display: flex;
	justify-content: space-between;
	background-image: url('../img/email.png');
	background-repeat: no-repeat;
	height: 32px;
	margin: 5px 0 0 60px;
	cursor: pointer;
}
.inner-content {
	width: 100%;
	background-color: #fff;
	min-height: 500px;
	padding: 30px 20px;
	color: #5E5E5E;
}
.contacts {
	height: 175px;
	display: flex;
}
.inner-right-sidebar {
	width: 100%;
	min-height: 1036px;
	background: #fff;
	position: relative;
	background-position: inherit;
	background-size: inherit;
	border-left: 1px solid #D8D4D4;
}
.angle {
	position: absolute;
	right: 0;
	top: 0;
	width: 168px;
	height: 167px;
	overflow: hidden;
	background-image: url('../img/Angle.png');
}

.event {
	width: 100%;
	height: 179px;
	padding: 10px 20px;
	z-index: 10;
	position: relative;
}
.cost_event {
	height: 34px;
	display: flex;
	justify-content: space-between;
	width: 65%;
	z-index: 10;
}
.ce {
	height: 80%;
	z-index: 10;
}
.ce_txt {
	color: #195390;
	font-size: 12px;
	margin-top: -4px;
	z-index: 10;
}
.ce_val {
	font-size: 19px;
	margin-top: -4px;
	z-index: 10;
}
.tim_event {
	height: 70px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 15px;
	z-index: inherit;
}
.ft_sotial {
	position: absolute;
	right: 0;
	top: 10px;
}
#blurred-bg {
  background-image: url('../img/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  background-attachment: fixed;
  height: 100%;
}
.rays {
	height: 700px;
	width: 700px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}